div.banner-component-container {
    border-radius: 12px;

}

div.banner-component-container img.banner{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    
    border-radius: 12px;
}

@media screen and (max-width:768px) {
    div.banner-component-container img.banner{
        
        height: 25vh;
        
    }
}